# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install wheel setuptools
          pip install monty==4.0.2
          pip install deprecated
          pip install -e .
          pip install -r requirements-dev.txt
      - name: Run tests
        run: |
          coverage run -m unittest discover
          coverage json
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage_artifact
          path: coverage.json

  code_coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage_artifact
      - name: Check coverage
        run: |
          pip install monty==4.0.2
          python scripts/coverage.py

  benchmark_submission:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Run submission check
        run: |
          pip install --upgrade pip
          pip install wheel setuptools
          pip install monty==4.0.2
          pip install deprecated
          pip install -e .
          pip install -r requirements-dev.txt
          python -m unittest scripts/test_submission.py
